body {
  background-color: blanchedalmond;
}
.gift-animation {
  width: 100vw;
  height: 100vh;
}
.giftbox {
  position: relative;
  padding-top: 85%;

  .giftbox__top {
    position: relative;
    text-align: center;
    z-index: 3;
    animation: slideToggle 2.2s cubic-bezier(0.3, 0, 0.9, 1.4) infinite both;
  }

  .giftbox__middle {
    text-align: center;
    position: absolute;
    top: 83%;
    left: 0;
    right: 0;
    z-index: 1;
    animation: couponshake 2.2s cubic-bezier(0.3, 0, 0.9, 1.4) infinite both;
  }

  .giftbox__bottom {
    text-align: center;
    margin-top: -5px;
    position: relative;
    z-index: 2;
  }
}

@keyframes slideToggle {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-210px);
  }
  80% {
    transform: translateY(-210px);
  }
  90% {
    transform: translateY(0);
  }
}

@keyframes couponshake {
  0% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-230px);
  }
  45% {
    transform: translateY(-230px);
    left: 0;
  }
  55% {
    left: -10px;
  }
  60% {
    left: 10px;
  }
  65% {
    left: -10px;
  }
  70% {
    left: 10px;
  }
  75% {
    left: 0;
  }
  78% {
    transform: translateY(-230px);
  }
  90% {
    transform: translateY(0);
  }
}
